.page.theme_dark {
  --main-text-color: #f1b2ce;
  --background-image: url(../images/cover-image-dark.png);
  --text-title-color: #db00ff;
  --main-background-color: #000028;
  --text-subtitle-color: #ff0070;
  --text-section-color: #000028;
  --subtitle-color: #ff0070;
  --button-color: #ff0070;
  --link-color: #ff0070;
  --border-color: #ff0070;

  background-image: url(../images/cover-image-dark.png);
  background-color: var(--main-background-color, #000028);
}

.theme_dark .header__decor-rec::before {
  visibility: visible;
}

.theme_dark .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}

.theme_dark .header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid rgba(53, 52, 48, 1);
}

.theme_dark .content__link:focus-visible {
  border: 1px solid rgba(241, 178, 206, 1);
  outline: none;
}
