.page.theme_light {
  --main-text-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --text-title-color: #ffc2e6;
  --main-background-color: #353430;
  --text-subtitle-color: #ff8dcb;
  --text-section-color: #353430;
  --subtitle-color: #353430;
  --button-color: #353430;
  --link-color: #ff8dcb;
  --border-color: #353430;
  --border-color-button-focus: rgba(53, 52, 48, 1);
  --border-color-button-hover: rgba(50, 49, 45, 0.4);
  --button-color-hover: #353430;
  --button-color-focus: #353430;
  --border-color-link-focus: rgba(53, 52, 48, 1);
  --border-color-link-hover: rgba(53, 52, 48, 1);
  --border-color-decorated-zone-after: #353430;
  --border-color-decorated-zone-before: #353430;
  --visibility-rec: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #353430;
    --background-image: url(../images/cover-image-light.png);
    --text-title-color: #ffc2e6;
    --main-background-color: #353430;
    --text-subtitle-color: #ff8dcb;
    --text-section-color: #353430;
    --subtitle-color: #353430;
    --button-color: #353430;
    --link-color: #ff8dcb;
    --border-color: #353430;
    --border-color-button-focus: rgba(53, 52, 48, 1);
    --border-color-button-hover: rgba(50, 49, 45, 0.4);
    --button-color-hover: #353430;
    --button-color-focus: #353430;
    --border-color-link-focus: rgba(53, 52, 48, 1);
    --border-color-link-hover: rgba(53, 52, 48, 1);
    --border-color-decorated-zone-after: #353430;
    --border-color-decorated-zone-before: #353430;
    --visibility-rec: hidden;
  }
}
