:root {
  --main-text-color: #f1b2ce;
  --background-image: url(../images/cover-image-dark.png);

  --main-font: "IBM Plex mono", "Courier New", monospace;
  --accent-color: #ff0070;

  --text-title-color: #db00ff;
  --main-background-color: #000028;
  --text-subtitle-color: #ff0070;
  --text-section-color: #000028;
  --subtitle-color: #ff0070;
  --button-color: #ff0070;
  --link-color: #ff0070;
  --border-color: #ff0070;
  --border-color-button-focus: rgba(255, 0, 112, 1);
  --border-color-button-hover: rgba(255, 0, 112, 0.4);
  --button-color-hover: #ff0070;
  --button-color-focus: #ff0070;
  --border-color-link-focus: rgba(241, 178, 206, 1);
  --border-color-link-hover: rgba(241, 178, 206, 1);
  --border-color-decorated-zone-after: #ff0070;
  --border-color-decorated-zone-before: #ff0070;
  --visibility-rec: visible;
}
